<h1>実験10で楽しよう</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="material">Material:</label>
    <select name="material">
        <option value="Al">Al</option>
        <option value="Mg">Mg</option>
        <option value="Fe(水)">Fe1</option>
        <option value="Fe(炉)">Fe2</option>
        <option value="PET">PET</option>
        <!-- 他のオプションも追加 -->
    </select>
    <label for="area">Area (mm²):</label>
    <input type="text" name="area">
    <label for="length">Length (mm):</label>
    <input type="text" name="length">
    <label for="Load_0_correction">Load_0_correction:</label>
    <input type="text" name="Load_0_correction">
    <label for="Distortion_0 "> Distortion_0:</label>
    <input type="text" name="Distortion_0">
    <label for="Distortion_Gauge_collection_1 "> Distortion_Gauge_collection_1:</label>
    <input type="text" name="Distortion_Gauge_collection_1">


    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
